
-@question.answers.each do |a|
  %p
    =a.body
    //-if a.user == current_user && !a.body.empty?
    -if a.user == current_user and user_signed_in?
      -unless a.body.empty?
        =link_to 'Remove My Answer', [@question, a], method: :delete, data: {confirm: "Are you sure?"}
        =link_to 'Edit My Answer', '', data: {answer_id: a.id}, class:["edit-answer-link"]
      .answer-edit-form

        =bootstrap_form_for [@question, a], remote: true, html: {id: "answer-edit-#{a.id}"} do |answer|
          .form-errors
          //-# content_tag(:div, class: ["form-errors-#{a.id}"])
          =answer.text_area :body, label: "You answer:"
          =answer.submit 'Save'
