.panel.panel-default
  .panel-heading
    %h3
      = @question.title
  .panel-body
    = @question.body
  .panel-footer
    =link_to 'To index', questions_path
    =link_to 'Edit question', edit_question_path(@question)
%h4
  Answers
=link_to "Add answer", new_question_answer_path(question_id:@question)
-@answers.each do |a|
  %p
    =a.body
    =link_to 'Delete', [@question, a], method: :delete, data: {confirm: "Are you sure?"}



