<% if @answer.errors.present? %>
  <% @answer.errors.full_messages.each do |message| %>
    $('.form-errors').html('<%= j message%>');
  <% end %>
<% else %>
  $('.answer-box-id-<%= @answer.id %>').remove();
  link = $('.answer-best-box').first().data('link');
  id = $('.answer-best-box').first().data('id');
  $('.answer-best-box').first().html('<a class="best-answer-'+id+'" data-remote="true" rel="nofollow" data-method="patch" href="'+link+'">Check as best Answer</a>');
  $('.answers').prepend('<%= j render 'questions/answer', answer: @answer %>');
<% end %>
